
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --navbar-background: #f0f0f0;
  --bottomBar-background: #f0f0f0;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --navbar-background: #1c1c1c;
  --bottomBar-background: #1c1c1c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

.navBar {
  background-color: var(--navbar-background);
  width: 100%;
  min-height: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.navBar input{
  width: 50%;
  height: 40%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
}
.navBar .sort{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid white; */
  gap: 5px;
  font-size: 10px;
}

.bottomBar {
  background-color: var(--bottomBar-background);
  width: 100%;
  min-height: 10%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
}


.app {
  /* border: 1px solid red; */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.pages{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 80%;
  min-height: 80%;
  gap: 10px;
  /* border: 1px solid black; */
  overflow-y: auto;
  
}

.mainBar {
  width: 100%;
  min-height: 80%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}
.mainBar::-webkit-scrollbar {
  display: none;
}

.sideBar {
  width: 10%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  display: none;
}

@media (min-width: 768px) {
  .navBar {
    display: none;
  }

  .bottomBar {
    display: none;
  }

  .app {
    flex-direction: row;
  }

  .mainBar {
    width: 90%;
    height: 100%;
  }

  .sideBar {
    display: block;
  }
}
